@import '../../../styles/style.scss';

.header {
    background-color: rgb(54, 61, 155);
    color: white;
    text-align: center;
    .container {
        @include container;
    }
    &-list {
        margin: auto;
        list-style: none;
        display: flex;
        text-align: center;
        align-items: center;
        
        &-item {
            color: white;
            padding: 1% 2%;
            text-decoration: none;
            cursor: pointer;
            transition: 0.4s all;
            text-align: center;
            align-items: center;
      
            &:hover {
              color: white;
            }
        }  
    }
}